body {
    background-color: rgb(10, 0, 71);
}
.title {
    text-align: center;
    font-size: 400%;
    font-family: Georgia;
    color:white
}
.buys {
    background-color: lightgray; color: darkslategrey;
}
.annouce {
    background-color: darkgrey; color: grey;
}
.annouced {
    background-color: grey; color: darkgrey;
}
.workers {
    background-color: darkslategrey; color: lightgray;
}
.skype {
    background-color: black; color: white;
}
table, th, td {
    border: 2px solid;
    color: grey;
}
#tableone {
   color:grey;
}
.homepage {
    text-align: center;
    color: blue;

}
.head {
    color: red;
    font-size: 40px;
    font-family: fantasy;
    text-align: center;
}
.head:hover {
    color: skyblue;
    font-size: 40px;
    font-family: fantasy;
    text-align: center;
}
.content {
    text-align: center;
    color: white;
    font-size: 35px;
}
.source {
    color: lightgray;
    text-align: left;
}
.description {
    color: white
}